body {
    height:  60rem;
    background-color: #f0f0f0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 1500px;
    background: white;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


header {
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    padding: 30px 0px 30px 0px;
    margin-bottom: 30px;
}


.nav-links {
    text-decoration: none;
    font-weight: bold;
    margin: 0px 30px 0px 30px;
    padding-right: 50px;
}
.step-tracker {
    display: flex;
    justify-content: space-between;
    background: #e0e0e0;
    margin-bottom: 30px;
}

.step {
    font-size: large;
    font-weight: bold;
    background: rgb(161, 159, 159);
    padding: 10px 20px;
    flex: 1;
    text-align: center;
}

.step.active {
    background: #e0e0e0;
}

.arrow{
    width: 20xp;
    height: 20xp;
    padding-right: 10px;
    color: gray;
    background-color: gray;
    clip-path: polygon(0% 0%, 110% 50%, 0% 100%)
}

.question-group label {
    display: block;
    padding: 8px 15px;
    margin: 30px 40px 0px 40px;
    font-weight: bold;
    font-size: large;
}
.quest{
    background-color: #ddd;
}

.options {
    display:flex;
    gap: 20px;  
    margin-left: 100px;
    padding: 15px;
}



.confirm-btn {
    font-weight: bold;
    font-size: large;
    display: block;
    margin: 30px auto 0;
    padding: 10px 40px;
    background: #ddd;
    border: none;
    cursor: pointer;
}
/*Concent Style*/

.privacy-box {
    background-color: #e0e0e0;
    padding: 30px;
    border-radius: 8px;    
    line-height: 1.6;          
}

.privacy-box ol {
    font-size: medium;
    font-weight: bold;
    margin-left: 20px;         
}

.privacy-box li {
    margin-bottom: 10px;      
}

.agreement {
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: #ddd;
    padding: 8px 15px;
    margin-top: 20px;
}